@import "tailwindcss" theme(static);
@import "@nuxt/ui";

:root {
  --ui-radius: 0.375rem;
}

html {
  scroll-behavior: smooth;
}

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-blue-50:  #eef3fb;
  --color-blue-100: #d9e4f5;
  --color-blue-200: #b3c9eb;
  --color-blue-300: #86a7dd;
  --color-blue-400: #5f86cd;
  --color-blue-500: #3f6bbf;   /* blue */
  --color-blue-600: #3458a6;
  --color-blue-700: #2b4686;
  --color-blue-800: #233866;
  --color-blue-900: #1c2c4d;
  --color-blue-950: #111a2e;


  --color-accent-50:  #ecfeff;
  --color-accent-100: #cffafe;
  --color-accent-200: #a5f3fc;
  --color-accent-300: #67e8f9;
  --color-accent-400: #22d3ee;
  --color-accent-500: #06b6d4;   /* accent */
  --color-accent-600: #0891b2;
  --color-accent-700: #0e7490;
  --color-accent-800: #155e75;
  --color-accent-900: #164e63;
  --color-accent-950: #083344;

  --color-slate-50:  #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}
